/out
.gradle
/local.properties
/.idea/gradle.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/libraries
/.idea/caches
/.idea/uiDesigner.xml
.DS_Store
/build
/captures
/src/com/centurylink/mdw/studio/Secrets.kt
